*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
}

button[value='enable-eeprom'] {
  position: relative;
}
button[value='enable-eeprom'].active::before {
  content: '';
  display: block;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#mem {
  background: gray;
  contain: strict;
  width: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  font-family: monospace, 'Fira Code', 'Consolas';
  font-size: 16px;
}

#mem > div {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}

#memView {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.mem-cell {
  contain: strict;
  height: 1.5em;
  line-height: 1.5em;
  list-style-type: none;
  position: absolute;
  width: 10em;
  padding-left: 1em;
}
.mem-cell:hover {
  background-color: #eee;
}
.mem-cell::before {
  content: '0x' attr(data-addr) ': ';
}
.mem-cell.pc {
  background-color: red;
}

.leds,
.switches {
  display: flex;
  flex-flow: row-reverse;
}

.registers {
  contain: content;
  font-family: monospace, 'Fira Code', 'Consolas';
}
.registers > dd,
.registers > dt {
  contain: strict;
  height: 1em;
}
.registers > dd::before {
  content: '0x';
}
